* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 300px;
}

h1 {
    color: blue;
    text-align: center;
}

h2 {
    color: cornflowerblue;
}

.onlinecourses {
    color: blueviolet;
}